.node-details-controls-container {
    margin-bottom: 10px;
    font-size: x-large;

    .back-button {
        cursor: pointer;
        color: #333333;
        margin-right: 15px;
        vertical-align: middle;
    }

    .spinner {
        color: gold;
    }

    .save-button, .undo-button, .options-button {
        cursor: pointer;
        padding-left: 10px;
    }

    .save-button {
        color: gold;
    }

    .undo-button {
        color: lightsalmon;
    }

    .options-button {
        position: relative;
        color: #333333;
        margin-right: 5px;

        fa-icon {
            vertical-align: middle;
        }

        .options {
            position: absolute;
            top: 100%;
            right: 0;
            box-shadow: 1px 1px 3px 1px #cccccc;
            font-size: medium;
            background-color: white;
            width: max-content;

            .delete-option, .done-option {
                cursor: pointer;
                padding: 5px;

                .done-icon, .delete-icon {
                    display: inline-block;
                    width: 20px;
                }
            }

            .option-title {
                font-size: small;
                margin-left: 5px;
                color: #333333;
            }

            .delete-option {
                color: tomato;
                border-top: 1px solid #cccccc;
            }
        
            .done-option {
                color: limegreen;
            }
        
            .undone {
                color: lightgray;
            }        
        }

        .hidden {
            display: none;
        }
    }

    .disabled {
        color: lightgray;
        cursor: not-allowed;
    }

    .right {
        float: right;
    }
}
