.node-details-controls-container {
    margin-bottom: 10px;
    font-size: x-large;

    .back-button {
        cursor: pointer;
        color: #333333;
        margin-right: 15px;
        vertical-align: text-bottom;
    }

    .spinner {
        color: gold;
    }

    .save-button, .delete-button, .undo-button, .done-button {
        cursor: pointer;
        padding-left: 10px;
    }

    .save-button {
        color: gold;
    }

    .undo-button {
        color: lightsalmon;
    }

    .delete-button {
        color: tomato;
    }

    .done-button {
        color: limegreen;
    }

    .undone {
        color: lightgray;
    }

    .disabled {
        color: lightgray;
        cursor: not-allowed;
    }

    .right {
        float: right;
    }
}
