<div class="node-details-controls-container">
    <span class="back-button" title="back" (click)="onBack()">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
    </span>
    <fa-icon
        class="spinner" 
        *ngIf="loading"
        [icon]="faCircleNotch" 
        [spin]="true" 
    ></fa-icon>
    <span
        *ngIf="isViewing()"
        class="options-button right"
        title="options"
        (click)="toggleOptions($event)"
    >
        <fa-icon [icon]="faEllipsisV"></fa-icon>
        <div
            class="options"
            [class.hidden]="!isOptions"
            title=""
        >
            <div
                *ngIf="isViewing()"
                class="done-option"
                [class.undone]="!note.done"
                (click)="onDone($event)"
            >
                <span class="done-icon">
                    <fa-icon [icon]="faCheckDouble"></fa-icon>
                </span>
                <span class="option-title">Mark as {{note.done ? 'undone' : 'done'}}</span>
            </div>
            <div
                *ngIf="isViewing()"
                class="delete-option"
                [class.disabled]="loading"
                (click)="onDelete($event)"
            >
                <span class="delete-icon">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                </span>
                <span class="option-title">Remove note</span>
            </div>
        </div>
    </span>
    <span
        *ngIf="editing || !note?.id"
        class="save-button right" 
        title="save changes"
        [class.disabled]="disabled"
        (click)="onSave()"
    >
    <fa-icon [icon]="faCheck"></fa-icon>
    </span>
    <span
        *ngIf="editing && note?.id"
        class="undo-button right"
        title="undo all changes"
        [class.disabled]="disabled"
        (click)="onUndoEdit()"
    >
        <fa-icon [icon]="faUndo"></fa-icon>
    </span>
</div>
