.node-details-controls-container {
    margin-bottom: 10px;
    font-size: x-large;

    .back-button {
        cursor: pointer;
        color: #333333;
        margin-right: 15px;
        vertical-align: middle;
    }

    .spinner {
        color: gold;
    }

    .save-button, .undo-button, .options-button, .color-picker {
        cursor: pointer;
        padding-left: 10px;
    }

    .save-button {
        color: gold;
    }

    .undo-button {
        color: lightsalmon;
    }

    .color-picker {
        padding-right: 5px;

        .color-picker-container {
            vertical-align: text-bottom;
        }
    }

    .options-button {
        position: relative;
        color: #333333;
        margin-right: 5px;

        fa-icon {
            vertical-align: middle;
        }
    }

    .disabled {
        color: lightgray;
        cursor: not-allowed;
    }

    .right {
        float: right;
    }
}
