<div class="control-bar-container">
    <div class="search-container">
        <span>
            <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
        </span>
        <span>
            <input
                #searchInput
                class="search-input"
                name="search"
                type="text"
                (input)="onSearch(searchInput.value)"
                placeholder="Search"
                autocomplete="off"
            />
        </span>
    </div>
    <span
        class="done-switch-button"
        [class.show-done]="showDone"
        [title]="resolveDoneSwitchTitle()"
        (click)="onToggleDone()"
    >
        <fa-icon [icon]="faCheckDouble"></fa-icon>
    </span>
</div>
