$contro-bar-content-height: 25px;

.control-bar-container {
    position: fixed;
    top: 0;
    width: 100%;

    .search-container {
        display: inline-block;
        height: $contro-bar-content-height;
        margin: 5px;
        
        span {
            line-height: $contro-bar-content-height;
        }

        .search-icon {
            color: #333333;
            margin: 5px;
        }

        .search-input {
            font-size: medium;
            border: none;
            outline: none;
            border-bottom: 1px solid #cccccc;
            width: 180px
        }

        @media only screen and (min-width: 600px) {
            .search-input {
                width: 220px;
            }
        }
    }

    .done-switch-button {
        height: 25px;
        font-size: 22px;
        padding: 5px;
        float: right;
        cursor: pointer;
        overflow: hidden;
        color: #aaaaaa;
        height: $contro-bar-content-height;
    }

    .show-done {
        color: limegreen;
    }
}
