<div class="control-bar-container">
    <div class="search-container">
        <input
            #searchInput
            class="search-input"
            name="search"
            type="text"
            (input)="onSearch(searchInput.value)"
            placeholder="Search"
            autocomplete="off"
        />
    </div>
    <div class="options-container">
        <div class="options-trigger" (click)="toggleOptions($event)">
            <fa-icon [icon]="faEllipsisV"></fa-icon>
        </div>
        <app-options
            [hidden]="!isOptions"
            [options]="options"
            (select)="onSelectOption($event)"
        >
        </app-options>
    </div>
</div>
