.control-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffffe0;
    z-index: 1;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-container {
        margin: 5px;

        .search-input {
            font-size: medium;
            border: none;
            outline: none;
            border-bottom: 1px solid #cccccc;
            width: 180px;
            background-color: inherit;
        }

        .search-input::placeholder {
            color: #888888;
        }

        @media only screen and (min-width: 600px) {
            .search-input {
                width: 220px;
            }
        }
    }

    .options-container {
        position: relative;
        margin-right: 10px;

        .options-trigger {
            font-size: larger;
            cursor: pointer;
        }

        .options {
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: white;
        }
    }
}
