$text-container-height: 100px;
$text-line-height: $text-container-height / 5;

:host {
    perspective: 500px;
}

.note-container {
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 3px 1px #cccccc;
    transition: all .3s ease;

    &:hover {
        transform: translate3d(-1px, -1px, 10px);
        box-shadow: 3px 2px 10px 1px #cccccc;
    }

    .title {
        padding: 10px 10px 7px;

        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-container {
        margin: 10px;
        height: $text-container-height;

        .text {
            overflow: hidden;
            height: inherit;
            line-height: $text-line-height;
            word-break: break-all;
        }
    }

    .status-container {
        padding: 5px;
        padding-top: 0;
        font-family: monospace;
        
        .timestamp {
            font-size: x-small;
        }

        .done {
            float: right;
            color: limegreen;
            font-size: small;
        }
    }
}
