$text-container-height: 100px;
$text-line-height: $text-container-height / 5;

:host {
    perspective: 500px;
}

.note-container {
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 3px 1px #cccccc;

    &:hover {
        animation: hover-move .5s forwards ease-out;
    }

    .title {
        padding: 10px 10px 7px;

        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-container {
        padding: 10px;
        height: $text-container-height;

        .text {
            overflow: hidden;
            height: inherit;
            line-height: $text-line-height;
            word-break: break-all;
        }
    }

    .status-container {
        padding: 5px;
        padding-top: 0;
        font-family: monospace;
        
        .timestamp {
            font-size: x-small;
        }

        .done {
            float: right;
            color: limegreen;
            font-size: small;
        }
    }
}

@keyframes hover-move {
    0% {
        transform: translate3d(0, 0, 5px);
    }
    15% {
        transform: rotate3d(.5, -1, 0, 6deg) translate3d(0, 0, 5px);
    }
    30% {
        transform: rotate3d(.5, 1, 0, 6deg) translate3d(0, 0, 5px);
    }
    45% {
        transform: rotate3d(1, 0, 0, 3deg) translate3d(0, 0, 10px);
    }
    100% {
    }
}
