<div 
    class="note-container"
    (click)="goToDetails()"
    [ngStyle]="{
        'background-color': resolveBackgroundColor()
    }"
>
    <div
        class="title"
        [ngStyle]="{
            'background-color': resolveBackgroundColor(true)
        }"
    >
        {{note.title}}
    </div>
    <div class="text-container">
        <div 
            class="text" 
            [innerText]="note.text" 
        ></div> 
    </div>
    <div class="status-container">
        <span class="timestamp">
            {{note?.timestamp | date : "dd.MM.yy HH:mm"}}
        </span>
        <fa-icon 
            *ngIf="note.done"
            class="done"
            title="Done!"
            [icon]="faCheckDouble"
        ></fa-icon>
    </div>
</div>
