<div class="note-details-container">
    <app-note-details-controls
        [noteId]="note?.id"
        [disabled]="isDisabled()"
        [loading]="isLoading"
        (back)="goBack()"
        (save)="saveNote()"
        (delete)="deleteNote()"
    ></app-note-details-controls>
    
    <form [formGroup]="noteForm">
        <div class="title-row">
            <input
                name="title" 
                type="text"
                placeholder="Title"
                formControlName="title"
                class="title"
                autocomplete="off"
            />
        </div>
        <div class="text-container">
            <textarea
                #text
                name="text"
                placeholder="Text"
                class="text"
                formControlName="text"
            ></textarea>
        </div>
    </form>
</div>
