.note-details-container {
    margin: 5px;
    padding: 0 5px;

    .title-row {
        .title {
            font-size: xx-large;
            word-break: break-all;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid #eeeeee;
            color: #000000cc;
        }
    }

    .text-container {
        margin-top: 20px;

        .text {
            white-space: pre-wrap;
            word-break: break-all;
            width: 100%;
            font-family: inherit;
            resize: none;
            outline: none;
            border: none;
            overflow: hidden;
            font-size: medium;
            color: #000000cc;
        }
    }
}

@media only screen and (min-width: 600px) {
    .note-details-container {
        padding: 10px;
        box-shadow: 2px 2px 3px 2px #eeeeee;

        width: 75%;
        margin: 5px auto;
    }
}

@media only screen and (min-width: 768px) {
    .note-details-container {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    .note-details-container {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .note-details-container {
        width: 40%;
    }
}
