<div class="note-details-container">
    <div class="controls">
        <a class="back-button" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </a>
        <fa-icon
            class="spinner" 
            *ngIf="isLoading"
            [icon]="faCircleNotch" 
            [spin]="true" 
        ></fa-icon>
        <a
            *ngIf="note?.id"
            class="delete-button right"
            [class.disabled]="isLoading"
            (click)="deleteNote()"
        >
            <fa-icon [icon]="faTrashAlt"></fa-icon>
        </a>
        <a
            class="save-button right" 
            [class.disabled]="isDisabled()"
            (click)="saveNote()"
        >
            <fa-icon [icon]="faCheck"></fa-icon>
        </a>
    </div>
    <form [formGroup]="noteForm">
        <div class="title-row">
            <input
                name="title" 
                type="text"
                placeholder="Title"
                formControlName="title"
                class="title"
                autocomplete="off"
            />
        </div>
        <div class="text-container">
            <textarea
                #text
                name="text"
                placeholder="Text"
                class="text"
                formControlName="text"
            ></textarea>
        </div>
    </form>
</div>
